// @import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-icon {
  filter: drop-shadow(0px 0px 4px #00000088) !important;
  z-index: 2 !important;
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}
