#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* place-items: center; //to be change */
  min-width: 320px;
  min-height: 100vh;
}
